@import 'reset.css';
@import 'module.css';
@import 'layout.css';

@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
main > :first-child {
    display: none;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Amiri', serif;

}
img{
    height: 275px;
    width: 275px;
    padding-left: 10px;
    padding-right: 10px;

}
main{
    display: flex;
    flex-wrap: wrap;
}
section{
    flex-grow: 1;
    padding: 5px;
    width: 300px;
    border: 20px solid silver;
    box-sizing: border-box;
}
section p{
    margin-left: 20px;
    margin-right: 20px;
}
section h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#buttons{
    margin-left: 34%;
}
button{
    background-color: rgba(31, 27, 27, 0.746);
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    /* height: px; */
    width: 150px;
    color: white;
}
