main ,header{
    padding: 50px;
}
h2{
    color: black;
    font-size:25px ;
    /* padding-bottom: 10px; */
}

header h1{
    text-align: center;
    font-size: 35px;
    color: blueviolet;
    padding: 5px;
    font-weight: bolder;
    margin-left: 80px;
    letter-spacing: 15px;
}
main p{
    padding-top: 10px;
}
#select{
    margin-left: 35%;
    width: 300px; 
     margin-top: 25px;
     border-radius: 5px;
     text-align: center;
    height: 28px;
    background-color: rgba(152, 111, 155, 0.4);
    color: black;
    text-align: center;
    font-size: large;
}
footer{
    text-align: center;
    color: black;
    font-weight: 900;
    height: 100px;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgba(154, 139, 168,0.4);
}